<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- <bean name="error" class="fr.simpleblog.beans.ErrorM" scope="singleton"> -->
	<!-- <property name="id" value="1"></property> -->
	<!-- <property name="message" value="noError message !"></property> -->
	<!-- </bean> -->


	<!-- Bean d'acces au Contexte -->
	<bean id="applicationContextHolder" class="fr.simpleblog.services.ApplicationContextHolder" />

	<!-- Au démarrage de l'application Spring injecte la datasource dans le 
		dao -->

	<bean name="ImpDaoHql" class="fr.simpleblog.model.DaoHql.ImpDaoHql">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- <bean name="cache" class="fr.simpleblog.services.Cache" scope="singleton" 
		/> -->

	<bean id="daoModelArticle" name="daoModelArticle"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlArticle" parent="ImpDaoHql" />
	<bean id="daoModelAuthority" name="daoModelAuthority"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlAuthority" parent="ImpDaoHql" />
	<bean id="daoModelCategorie" name="daoModelCategorie"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlCategorie" parent="ImpDaoHql" />
	<bean id="daoModelCommentaire" name="daoModelCommentaire"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlCommentaire" parent="ImpDaoHql" />
	<bean id="daoModelFicheUtilisateur" name="daoModelFicheUtilisateur"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlFicheUtilisateur" parent="ImpDaoHql" />
	<bean id="daoModelInteret" name="daoModelInteret"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlInteret" parent="ImpDaoHql" />
	<bean id="daoModelPays" name="daoModelPays"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlPays" parent="ImpDaoHql" />
	<bean id="daoModelStyle" name="daoModelStyle"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlStyle" parent="ImpDaoHql" />
	<bean id="daoModelUtilisateur" name="daoModelUtilisateur"
		class="fr.simpleblog.model.DaoHql.ImpDaoHqlUtilisateur" parent="ImpDaoHql" />


	<!-- Au démarrage de l'application Spring injecte la dao dans controller -->

	<bean name="utilisateurAction" class="fr.simpleblog.controllers.UtilisateurAction">
		<property name="daoModelUtilisateur" ref="impServiceUtilisateur" />
		<property name="daoModelAuthority" ref="impServiceAuthority" />
		<property name="daoModelFicheUtilisateur" ref="impServiceFicheUtilisateur" />
	</bean>

	<bean name="rootAction" class="fr.simpleblog.controllers.RootAction">
		<property name="daoModelPays" ref="impServicePays" />
	</bean>

	<bean name="paysAction" class="fr.simpleblog.controllers.PaysAction">
		<property name="daoModelPays" ref="impServicePays" />
	</bean>


	<!-- au démarrage de l'appli on injecte l'implementation des dao dans le 
		domaine service -->

	<bean name="impServiceUtilisateur" class="fr.simpleblog.domainService.ImpServiceUtilisateur">
		<property name="ImpDaoHqlUtilisateur" ref="daoModelUtilisateur" />
	</bean>

	<bean name="impServiceFicheUtilisateur"
		class="fr.simpleblog.domainService.ImpServiceFicheUtilisateur">
		<property name="ImpDaoHqlFicheUtilisateur" ref="daoModelFicheUtilisateur" />
	</bean>

	<bean name="impServicePays" class="fr.simpleblog.domainService.ImpServicePays">
		<property name="ImpDaoHqlPays" ref="daoModelPays" />
	</bean>

	<bean name="impServiceStyle" class="fr.simpleblog.domainService.ImpServiceStyle">
		<property name="ImpDaoHqlStyle" ref="daoModelStyle" />
	</bean>

	<bean name="impServiceAuthority" class="fr.simpleblog.domainService.ImpServiceAuthority">
		<property name="ImpDaoHqlAuthority" ref="daoModelAuthority" />
	</bean>

	<bean name="impServiceInteret" class="fr.simpleblog.domainService.ImpServiceInteret">
		<property name="ImpDaoHqlInteret" ref="daoModelInteret" />
	</bean>


	<!-- On injecte dans Cache dans ficheutilisateur -->

	<bean name="ficheUtilisateurAction" class="fr.simpleblog.controllers.FicheUtilisateurAction">
		<property name="daoModelFicheUtilisateur" ref="impServiceFicheUtilisateur" />
		<property name="daoModelUtilisateur" ref="impServiceUtilisateur" />
		<property name="daoModelPays" ref="impServicePays" />
		<property name="daoModelInteret" ref="impServiceInteret" />
		<property name="daoModelStyle" ref="impServiceStyle" />
	</bean>

	<!-- Définition du cache -->
	<!-- <cache:advice id="cachePays" cache-manager="cache"> -->
	<!-- <cache:caching cache="cache"> -->
	<!-- <cache:cacheable method="cachePays" key="#Id"/> -->
	<!-- </cache:caching> -->
	<!-- </cache:advice> -->


	<!-- Pour fonctionner avec Autowired dans les tests -->
	<bean class="org.springframework.mock.web.MockHttpServletRequest" />

	<!-- implémentation sql de test -->

	<!-- <bean name="daoModelUtilisateurHqlTest" class="fr.simpleblog.model.DaoHql.DaoModelUtilisateurHqlTest"> -->
	<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	<!-- </bean> -->

	<!-- <bean name="rootAction" class="fr.simpleblog.controllers.RootAction"> -->
	<!-- <property name="daoModelUtilisateurHqlTest" ref="daoModelUtilisateurHqlTest" 
		/> -->
	<!-- </bean> -->




</beans>