<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- <bean name="error" class="fr.simpleblog.beans.ErrorM" scope="singleton"> -->
	<!-- <property name="id" value="1"></property> -->
	<!-- <property name="message" value="noError message !"></property> -->
	<!-- </bean> -->


	<!-- Bean d'acces au Contexte -->

	<bean id="applicationContextHolder" class="fr.simpleblog.services.ApplicationContextHolder" />


	<!-- Au démarrage de l'application Spring injecte la datasource dans le 
		dao -->

	<bean id="impDaoHql" class="fr.simpleblog.model.DaoHql.ImpDaoHql">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- <bean name="cache" class="fr.simpleblog.services.Cache" scope="singleton" 
		/> -->

	<bean id="daoArticle" class="fr.simpleblog.model.DaoHql.ImpDaoHqlArticle"
		parent="impDaoHql" />

	<bean id="daoAuthority" class="fr.simpleblog.model.DaoHql.ImpDaoHqlAuthority"
		parent="impDaoHql" />

	<bean id="daoCategorie" class="fr.simpleblog.model.DaoHql.ImpDaoHqlCategorie"
		parent="impDaoHql" />

	<bean id="daoCommentaire" class="fr.simpleblog.model.DaoHql.ImpDaoHqlCommentaire"
		parent="impDaoHql" />

	<bean id="daoFicheUtilisateur" class="fr.simpleblog.model.DaoHql.ImpDaoHqlFicheUtilisateur"
		parent="impDaoHql" />

	<bean id="daoInteret" class="fr.simpleblog.model.DaoHql.ImpDaoHqlInteret"
		parent="impDaoHql" />

	<bean id="daoPays" class="fr.simpleblog.model.DaoHql.ImpDaoHqlPays"
		parent="impDaoHql" />

	<bean id="daoStyle" class="fr.simpleblog.model.DaoHql.ImpDaoHqlStyle"
		parent="impDaoHql" />

	<bean id="daoUtilisateur" class="fr.simpleblog.model.DaoHql.ImpDaoHqlUtilisateur"
		parent="impDaoHql" />


	<!-- Au démarrage de l'application Spring injecte la dao dans controller -->

	<bean id="utilisateurAction" class="fr.simpleblog.controllers.UtilisateurAction">
		<property name="impServiceUtilisateur" ref="impServiceUtilisateur" />
		<property name="impServiceAuthority" ref="impServiceAuthority" />
		<property name="impServiceFicheUtilisateur" ref="impServiceFicheUtilisateur" />
	</bean>

	<bean id="profilAction" class="fr.simpleblog.controllers.ProfilAction">
		<property name="impServiceFicheUtilisateur" ref="impServiceFicheUtilisateur" />
		<property name="impServiceUtilisateur" ref="impServiceUtilisateur" />
		<property name="impServicePays" ref="impServicePays" />
		<property name="impServiceInteret" ref="impServiceInteret" />
		<property name="impServiceStyle" ref="impServiceStyle" />
	</bean>

	<bean id="rootAction" class="fr.simpleblog.controllers.RootAction">
		<property name="impServicePays" ref="impServicePays" />
	</bean>

	<bean id="paysAction" class="fr.simpleblog.controllers.PaysAction">
		<property name="impServicePays" ref="impServicePays" />
	</bean>

	<bean id="ficheUtilisateurAction" class="fr.simpleblog.controllers.FicheUtilisateurAction">
		<property name="impServiceFicheUtilisateur" ref="impServiceFicheUtilisateur" />
		<property name="impServiceUtilisateur" ref="impServiceUtilisateur" />
		<property name="impServicePays" ref="impServicePays" />
		<property name="impServiceInteret" ref="impServiceInteret" />
		<property name="impServiceStyle" ref="impServiceStyle" />
	</bean>

	<bean id="adminAction" class="fr.simpleblog.controllers.AdminAction">
		<property name="impServiceArticle" ref="impServiceArticle" />
		<property name="impServiceCategorie" ref="impServiceCategorie" />
	</bean>

	<!-- Convention de nommage classe d'ation : IserviceObject actionAccessServiceObject 
		implementation service : daoObject impAccessDaoObject dao : sessionfactory 
		récupérée de la super classe daoObject -->

	<!-- au démarrage de l'appli on injecte l'implementation des dao dans le 
		domain service -->

	<bean id="impService" class="fr.simpleblog.domainService.ImpService">
		<property name="impAccessDao" ref="impDaoHql" />
	</bean>

	<bean id="impServiceUtilisateur" class="fr.simpleblog.domainService.ImpServiceUtilisateur"
		parent="impService">
		<property name="impAccessDaoUtilisateur" ref="daoUtilisateur" />
	</bean>

	<bean id="impServiceFicheUtilisateur" class="fr.simpleblog.domainService.ImpServiceFicheUtilisateur"
		parent="impService">
		<property name="impAccessDaoFicheUtilisateur" ref="daoFicheUtilisateur" />
	</bean>

	<bean id="impServicePays" class="fr.simpleblog.domainService.ImpServicePays"
		parent="impService">
		<property name="impAccessDaoPays" ref="daoPays" />
	</bean>

	<bean id="impServiceStyle" class="fr.simpleblog.domainService.ImpServiceStyle"
		parent="impService">
		<property name="impAccessDaoStyle" ref="daoStyle" />
	</bean>

	<bean id="impServiceAuthority" class="fr.simpleblog.domainService.ImpServiceAuthority"
		parent="impService">
		<property name="impAccessDaoAuthority" ref="daoAuthority" />
	</bean>

	<bean id="impServiceInteret" class="fr.simpleblog.domainService.ImpServiceInteret"
		parent="impService">
		<property name="impAccessDaoInteret" ref="daoInteret" />
	</bean>

	<bean id="impServiceArticle" class="fr.simpleblog.domainService.ImpServiceArticle"
		parent="impService">
		<property name="impAccessDaoArticle" ref="daoArticle" />
	</bean>

	<bean id="impServiceCategorie" class="fr.simpleblog.domainService.ImpServiceCategorie"
		parent="impService">
		<property name="impAccessDaoCategorie" ref="daoCategorie" />
	</bean>

	<!-- Pour fonctionner avec Autowired dans les tests -->
	<bean class="org.springframework.mock.web.MockHttpServletRequest" />


	<!-- implémentation sql de test -->

	<!-- <bean name="daoModelUtilisateurHqlTest" class="fr.simpleblog.model.DaoHql.DaoModelUtilisateurHqlTest"> -->
	<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	<!-- </bean> -->

	<!-- <bean name="rootAction" class="fr.simpleblog.controllers.RootAction"> -->
	<!-- <property name="daoModelUtilisateurHqlTest" ref="daoModelUtilisateurHqlTest" 
		/> -->
	<!-- </bean> -->




</beans>